.navbar-desktop{
   margin-top: 4rem;
}

.nav-item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    cursor: pointer;
}

.line {
    height: 2px;
    width: 3rem;
    margin-right: 0.5rem;
    background-color: white;
    transition: width 0.3s ease;
}

.nav-item:hover {

    .line {
        width: 6rem;
        color: #00DAA6 !important;

    }

    a {
        color: #00DAA6 !important;
    }
}
.active{
       color: #00DAA6 !important; 
}
.active .line {
    width: 6rem;
    background-color: #00DAA6 !important; 

}

.navbar, .offcanvas {
    z-index: 99999999999999 !important;
  }
.navbar{
    display: none;
    background-color: #004737 !important;
    box-shadow: 1px 1px 6px rgb(0, 22, 1);
    z-index: 99999999999999 !important;

   
    
    li{
        color: #142620; 
        

            .navlogo{
                width: 3rem !important;
            }

    }

   
}

 .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    width: 2rem;
    }
  
.offcanvas-body, .offcanvas-header{
    background-color: #004737 !important;
    z-index: 999999 !important;


    li{
        color: white;
    }
}

.offcanvas-header{
    .btn-close{
        background-color: #007a5e ;
    }
}


@media (max-width: 1200px) {
.navbar{
    display: inherit !important;
}
.navbar-desktop{
    display: none;
}
}