#sobre-mi{
    margin-top: 7rem;
    width: 100%;
    p{
        width: 100%;
        padding-top: 1rem;
    }
}

#sobre-mi:hover{
        .arrow {
            transform: translate(1.5rem);
            transition: 0.3s ease;
        }
}


@media (max-width: 750px) {
#sobre-mi{
    padding: 1rem;
    p{
        padding: 1rem;
    }
}
}

@media (max-width: 500px) {
#sobre-mi{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p{
        width: 100% !important;
        padding: 0 !important;
        text-align: center;
    }
}
}